.about_cover{
   z-index: 1;

    width: 100%;
    height: 700px;

}
.about{
    text-align: center;
    color: #5c2be3;
    font-size: 44px;
    padding: 40px;
}

.container{
    width:80%;
    margin: 0 auto;
}

.one{
    width: 100%;
    display: flex;
    margin-top: 7px;
    

}
.two{
    margin-top: 27px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.img_c{
    width: 400px;
    height: 250px;
    background-size: 100%;
    border-radius: 7px;
  
}
.p_text{
    width: 1162px;
    padding-left: 2rem;
    margin-top: 9px;
    color: #5F5F5F;
    font-size: 14px;
    line-height: 28px;
}
.p_text1{
    width: 1162px;
    padding-right: 2rem;
    margin-top: 9px;
    color: #5F5F5F;
    font-size: 14px;
    line-height: 28px;
}
.one1{
    width: 100%;
    display: flex;
    margin-top: 27px;
    padding-bottom: 50px;

}
.divider66{
    width: 600px;
    margin: 0 auto;
}